<form class="myform" name = "myForm" style="padding-top:30px;" method="POST" enctype="multipart/form-data">
</br></br></br></br>
<% @book2.each do |b| %>
 <input type="checkbox" name="book[]" value="<%= b.id %>" /><%= b.name%></br>
<%end%>

<a class="trigger">즐겨찾기 추가</a>
        <div id="overlay_t"></div> 
          <div id="popup_layer">쇼핑몰 이름을 입력하세요.
          <input type="text" class="form-control" name="name" placeholder="쇼핑몰 이름">
          주소를 입력하세요.
          <input type="text" class="form-control" name="url" placeholder="URL 주소">
          <input type="submit" class="btn btn-default" value="추가" onclick='mySubmit(1)'>
          <button type="button" class="btn btn-default" id ="close">닫기</button>
          </div>
        </div>
<input id ="del" type="submit" class="btn btn-default" value="삭제" onclick='mySubmit(2)'>

</form>
<script>

function mySubmit(index) {
      if (index == 1) {
         
        document.myForm.action='/home/book_add';
        
      }
     
      if (index == 2) {
       
        document.myForm.action='/home/book_del'; 
      }
     
      document.myForm.submit();
      
    }
    
$( document ).ready(function() { 
       $('.trigger').click(function(){ 
        $('#popup_layer, #overlay_t').show(); 
        $('#popup_layer').css("top", Math.max(0, $(window).scrollTop() + 100) + "px"); 
        // $('#popup_layer').css("top", Math.max(0, (($(window).height() - $(this).outerHeight()) / 2) + $(window).scrollTop()) + "px"); 
    }); 
    $('#overlay_t, .close').click(function(e){ 
        e.preventDefault(); 
        $('#popup_layer, #overlay_t').hide(); 
    }); 
    $('#close').click(function(e){
      e.preventDefault();
       $('#popup_layer, #overlay_t').hide(); 
    });
});
    
</script>